.Intro {
  display: flex;
  height: 100vh;
  width: 100%;
}
.introRight {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding-top: 120px;
  gap: 2rem;
  justify-items: flex-start;
}
.introLeft {
  width: 60rem;
}
.introLeft > img {
  margin-left: 25px;
  margin-top: 35px;
  position: relative;
  z-index: 10;
  transform: scale(0.3);
  left: -57%;
  top: -40%;
}
.introspan :nth-child(1) {
  font-size: 42px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #d9d9d9;
}
.introspan :nth-child(2) {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #54d751;
  font-size: 42px;
}
.introspan > span {
  font-size: 25px;
  color: #1e1e1e;
}
.Reactangle {
  background-color: #2ba9203a;
  height: 430px;
  width: 630px;
  position: relative;
  left: 24%;
  z-index: 2;
  top: -185%;
}
.introRight > button {
  width: 8rem;
}

.wave {
  position: absolute;
  transform: scale(0.9);
  top: 360px;
  left: -30px;
}
